//
// Import PrimoCSS framework
//

@import '../node_modules/primocss/scss/primocss';

@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor;
  background-color: rgba($hexcolor, $opacity);
}

$color-neon-blue: #203CFD;

html {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-weight-lt;
}

a {
  @include link-style(
    $color: $color-neon-blue,
    $hover: $color-neon-blue,
    $active: $color-neon-blue,
    $visited: $color-neon-blue
  );

  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transform: translateZ(0);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $color-neon-blue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  &:hover {
    text-decoration: none;

    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

p,
li {
  font-weight: $font-weight-lt;
}

b,
strong {
  font-weight: $global-font-weight;
}

hr {
  display: inline-block;
  height: 1px;
  width: 40px;
  height: 10px;
  background: url(../../assets/dark-wave-line.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

abbr[title] {
  border-bottom: 0;
}

.cover {

  &--two-thirds {
    min-height: calc(100vh / 3 * 2);
  }

  &--three-quarters {
    min-height: calc(100vh / 4 * 3);
  }
}

.strip {
  border: 0;
  padding: 120px 0;

  @if $global-responsive == true {
    @include set-breakpoint-max(lg) {
      padding: $global-spacing-unit-xl 0;
    }
  }
}

.header {
  background-color: $color-grey-lightest;
  padding: $global-spacing-unit 0 0;
  width: 100%;

  @include set-breakpoint-max(md) {
    position: relative;
    padding: $global-spacing-unit 0;
  }

  &__logo {
    @include font-size(20px);
    box-shadow: 0 1px 25px 5px rgba(black, 0.15);
    padding: 7px 10px;
    display: inline-block;
    color: $color-grey-lightest;
    background-color: $color-neon-blue;
    text-decoration: none;
    transition: all .2s;

    &:before {
      display: none;
    }

    &:hover {
      color: $color-grey-lightest;
    }
  }

  &__nav {
    text-align: center;
  }

  &__link {
    margin: {
      left: $global-spacing-unit-sm;
      right: $global-spacing-unit-sm;
    }

    text-decoration: none;
  }
}

.intro {
  background-color: $color-grey-lightest;
  min-height: 75vh;

  &__content {
    position: relative;
  }

  &__text {
    @include font-heading(38px, $font-weight-lt);
  }

  &__link {
    text-decoration: none;
  }

  &__scroll-to {
    @include font-size(36px);
    background: none;
    border: 0;
    display: block;
    font-weight: $font-weight-lt;
    margin-top: $global-spacing-unit-xl;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-out;

    &:before {
      display: none;
    }

    &:hover {
      transform: translate(0, -5px);
    }

    @include set-breakpoint-max(md) {
      margin: 0 auto;
    }
  }
}

.brands {
  background-color: $color-neon-blue;
  color: $color-white;

  hr {
    background-image: url(../../assets/white-wave-line.svg);
  }

  &__item {
    @include opacity(.8);
    padding: $global-spacing-unit-lg 0;
    text-align: center;

    img {
      display: initial;
    }
  }
}

.work {
  overflow: hidden;
  position: relative;

  &__browser {
    border-radius: 4px;
    box-shadow: 0 1px 25px 5px rgba(black, 0.05);
    background-color: $color-grey-lighter;
    margin-top: $global-spacing-unit-xl;
    width: 100%;
    overflow: hidden;
    padding: $global-spacing-unit-xl;
  }
}

.footer {
  background-color: $color-grey-darkest;
  color: $color-white;
  margin: 0;

  @include set-breakpoint-max(md) {
    text-align: center;

    .u-align-right {
      text-align: center;
    }
  }

  .strip {
    border-color: $color-grey-darker;
  }

  &__logo {
    @include font-size(20px);
    background: $color-white;
    box-shadow: 0 -20px 0 $color-black;
    color: $color-grey-darkest;
    display: inline-block;
    padding: 7px 10px;
    position: relative;
    text-decoration: none;

    &:before {
      display: none;
    }

    &:hover {
      color: $color-grey-darkest;
    }

    @include set-breakpoint-max(md) {
      margin-bottom: $global-spacing-unit;
    }
  }

  &__link {
    color: $color-grey;
    text-decoration: none;

    &:before {
      color: $color-white;
    }

    &:hover {
      color: $color-white;

      &:before {
        background-color: $color-white;
      }
    }

    &:active,
    &:visited {
      color: $color-grey;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__divide {
    border-color: $color-white;
  }

  &__list {
    list-style: none;

    @include set-breakpoint-max(md) {
      padding: 0;
    }
  }
}

u-overflow-visible {
  overflow: visible !important;
}
